@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.ro {
  font-family: "Roboto Mono";
}
@font-face {
  font-family: "Avantt";
  src: url("/app/avantt/AvanttTRIAL-Regular-BF6721a86b1a848.otf");
}
body {
  font-family: "Avantt";
}
.bg-var {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%)
  );
}
.bg-var:hover {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 60%, #8fd9d9 100%)
  );
  transition: all ease-in-out 0.7s;
}
